{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Add Comment
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<form method="post">
	{% csrf_token %}
	{{ form|crispy }}

	<button type="submit">
		Add Comment
	</button>
</form>
{% else %}
<br>Please login to add a comment<br>
{% endif %}

{% endblock %}