{% load custom_tags %}
{% for child in comment.get_comments %}
{% load crispy_forms_tags %}
<!-- Debugging
*****
{{comment}}
{{sub}}
{{post}}
{{child.pk}}
******
-->

{{tab}}<strong style="font-weight: 800; font-size: 70%;">u/{{child.author_id}}</strong> <br>
{{tab}}{{child}}
<div class="updown-comment-box">
    {{tab}}
    <form method="POST" action="{% url 'comment-like' sub post %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">
        <input type="hidden" name="comment_key" value="{{ child.pk }}">
        <button type="submit">
            <i class="fas fa-angle-up"> </i>
        </button>
    </form>
    {% karmaaddition child.likes.all.count child.dislikes.all.count %}
    <form method="POST" action="{% url 'comment-dislike' sub post %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">
        <input type="hidden" name="comment_key" value="{{ child.pk }}">
        <button type="submit">
            <i class="fas fa-angle-down"> </i>
        </button>
    </form>

    {% if user.is_authenticated %}
    <div class="comment-toggle-icon">
        <button class="remove-default-btn"><i class="far fa-comment-dots"
                onclick="commentReplyToggle('{{ child.pk }}')"></i></button>
    </div>

    <div style="display: none;" id="{{child.pk}}">
        <form method="POST" action="{% url 'comment-create' sub post %}">
            {% csrf_token %}
            <input type="hidden" name="parent_id" value="{{child.pk}}">
            <input type="text" name="body">
            <div class="d-grid gap-2">
                <button>Reply</button>
            </div>
        </form>
    </div>
    {% else %}
    <div class="empty"></div><br>
    {% endif %}
</div>
{% include 'posts/comment.html' with comment=child tab=tab|add_two_more_tabs|safe %}
{% endfor %}