{% extends "base.html" %}
{% load custom_tags %}
{% load crispy_forms_tags %}

{% block title %}
Reddit Home
{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/styles.css" type="text/css" media="screen">
<script type="text/javascript" src="/static/js/social.js"></script>

<!-- Display Object -->
<div class="overall-detailed-page">
    <div class="post-detail-container">
        <div class="up-down-box">

            <form method="POST" action="{% url 'post-like' post.subreddit_id post.id %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{request.path}}">
                <button type="submit">
                    <i class="fas fa-angle-up"></i>
                </button>
            </form>
            <div class="karma">{% karmaaddition post.likes.all.count post.dislikes.all.count %}</div>
            <form method="POST" action="{% url 'post-dislike' post.subreddit_id post.id %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{request.path}}">
                <button type="submit">
                    <i class="fas fa-angle-down"></i>
                </button>
            </form>

        </div>
        <div class="detailed-box">
            <div class="sub-user">
                <a href="{% url 'sub-details' post.subreddit_id %}">
                    <div>r/{{ post.subreddit_id }}</div>
                </a>

                <div class="post-detail-author">Posted by u/{{ post.author_id }}</div>
            </div>
            <div class="post-detail-heading">
                <h4>{{ post.title }}</h4>
            </div>

            <p class="post-detail-content">{{ post.content }}</p>

            {% if post.media_type == "image" %}

            <div><img class="media-content" alt="An image is supposed to be here" src="{{post.media_content.url}}">
            </div>
            {% elif post.media_type == "video" %}
            <div>
                <video class="media-content" controls>
                    <source src="{{post.media_content.url}}">
                </video>
            </div>
        
        {% else %}
        <div class="empty"></div>

        {% endif %}
    </div>
    </div>
</div>

<!-- <div><img alt="Image" src="{{ object.media }}"></div>-->
<div class="comments-container">
    <h2>Comments:</h2>



    <form class="comment-create-box" method="POST" action="{% url 'comment-create' object.subreddit_id object.pk %}">
        {% csrf_token %}
        <div>
            <input type="hidden" name="parent_id" value="">
            <input type="text" required name="body">
        </div>
        <div>
            <button>Add a Comment</button>
        </div>
    </form>

    <hr>

    <div>

        {% with object.comments.count as total_comments %}
        <div class="total-comment-count">
            {{ total_comments }} comment{{ total_comments|pluralize }}
        </div>
        <br>
        {% endwith %}

        {% if not object.comments.all %}
        No comments yet

        {% else %}

        {% for comment in object.get_comments %}
        <strong style="font-weight: 800;font-size:70%">u/{{comment.author_id}}</strong><br>
        {{ comment }}
        <div class="updown-comment-box">
            <form method="POST" action="{% url 'comment-like' object.subreddit_id object.pk %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <input type="hidden" name="comment_key" value="{{ comment.pk }}">
                <button type="submit">
                    <i class="fas fa-angle-up"> </i>
                </button>
            </form>
            {% karmaaddition comment.likes.all.count comment.dislikes.all.count %}
            <form method="POST" action="{% url 'comment-dislike' object.subreddit_id object.pk %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <input type="hidden" name="comment_key" value="{{ comment.pk }}">
                <button type="submit">
                    <i class="fas fa-angle-down"> </i>
                </button>
            </form>


            {% if user.is_authenticated %}
            <div class="comment-toggle-icon" style="display: inline;">
                <button><i class="far fa-comment-dots" onclick="commentReplyToggle('{{ comment.pk }}')"></i></button>
            </div>

            <div style="display: none;" id="{{comment.pk}}">
                <form method="POST" action="{% url 'comment-create' object.subreddit_id object.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="parent_id" value={{comment.pk}}>
                    <input type="text" required name="body">
                    <div>
                        <button>Reply</button>
                    </div>
                </form>
            </div>
            {% else %}
            <div class="empty"></div><br>
            {% endif %}
        </div>
        {% include 'posts/comment.html' with comment=comment tab=''|add_two_more_tabs|safe sub=object.subreddit_id post=object.pk %}
        {% endfor %}
        {% endif %}


    </div>
</div>

{% endblock %}