{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Create Post
{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form|crispy }}

	<button type="submit">
		Create Post
	</button>
</form>

{% endblock %}