{% extends "base.html" %}
{% block title %}
Create Post
{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h3>Are you Sure to delete "{{object.title}}"</h3>

    <button type="submit">
        DELETE POST
    </button>

    <a href="{% url 'post-details' object.subreddit_id object.id %}">
        CANCEL
    </a>

</form>

{% endblock %}