{% extends "base.html" %}

{% block title %}
Password Reset Done
{% endblock %}

{% block content %}

<h3>Password reset complete</h3>

<p>Your password has been set. You may go ahead and log in now.</p>

<a href="/login">Log in</a>
{% endblock content %}