{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Reset password
{% endblock %}

{% block content %}
<h3>Enter new password</h3>

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<form method="post">

	{% csrf_token %}
	{{form|crispy}}
	<input type="Submit" name="Update Password">

</form>
{% endblock content %}