{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Password Reset Form
{% endblock %}

{% block content %}
<h3>Password reset</h3>

<p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

<form method="post">

	{% csrf_token %}
	{{form|crispy}}
	<input type="Submit" name="Send email" value="Reset Password">

</form>
{% endblock content %}