
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    font-size: 3vh;
  }
  
  a {
    color: #cc1616;
    text-decoration: none;
  }
  
  a:hover {
    color: #e82d2d;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  }
  


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
  header {
    background:white;
    margin: auto;
    font-size: 3vh;
  }

  header.fixed-top {
    background: #191919;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
  .logo{
    width: 9vh;
  }
  .login-register{
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-evenly;
    width: 40vw;
  }
  .logout{
    display: block;
    align-self: center;
    width: 20vw;
  }

header .logo img {
  max-height: 40px;
}

.sub-home-link a{
  color: blue;
}

.form-control{
  width: 32vw;
}

.post-container{
  width:50%;
  margin-left: 20%;
  margin-right: 20%;
  background-color: black;
}

body{
  background-color:#dae0e6
}