
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Open Sans", sans-serif;
    font-size: 3vh;
  }
  
  a {
    color: #cc1616;
    text-decoration: none;
  }
  
  a:hover {
    color: #e82d2d;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  }
  


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
  header {
    position: relative;
    background:white;
    width: 100vw;
    font-size: 3vh;
    margin-top: -1.2vh;
    margin-left: -0.6vw;
  }

  header.fixed-top {
    background: #191919;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0vh 0vw;  
  }


  .login-register{
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-evenly;
    width: 40vw;
  }
  .logout{
    display: block;
    align-self: center;
    width: 20vw;
  }

header .logo img {
  max-height: 10vh;
}

.sub-home-link a{
  color: blue;
}
.search{
  align-self: center;
}
.search-container{
  padding:1.2vh;
  border-color: #edeff1;
  border-style: solid;
  border-width: 1px;
  background-color: #f6f7f8;
  width: 50vw;
  border-radius: 4px;
}

.search-container:hover{
  background-color: white;
  border-color: #0f80d5;
}
.form-control{
  width: 32vw;
}

.post-container{
  width:48%;
  margin-left: 12%;
  background-color: white;
  margin-bottom: 4vh;
  padding-left: 4vw;
}


body{
  background-color:#dae0e6;
}

.sub-filter{
  width:52%;
  margin-left: 12%;
  background-color: white ;
  flex-direction: row;
  display: flex;
  margin-bottom: 4vh;
  justify-content: space-between;
  height: 10vh;
}
.first-half{
  flex-direction: row;
  display: flex;
  justify-content: space-around;
width: 30%;


}
.second-half{
  flex-direction: row;
  display: flex;
  align-items: center;
  margin-right: 4px;
}

.element-filter{
  display:flex;
  flex-direction: row;
  align-items: center;
}

textarea, input {
  padding:10px;
	font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.sub-home-author{
  color:rgb(120, 124, 126);
  font-size: 2.3vh;
  font-weight: 400;
}
.sub-home-heading{
  color:#1d4169;
  font-size: 3.2vh;

}

.sub-home-content{
  color:black;
  font-size: 2.5vh;

}