/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  font-size: 3vh;
}

a {
  color: #cc1616;
  text-decoration: none;
}

a:hover {
  color: #e82d2d;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}



/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header {
  position: relative;
  background: white;
  width: 100vw;
  height: 8vh;
  font-size: 3vh;
  margin-top: -1.2vh;
  margin-left: -0.6vw;
}

header.fixed-top {
  background: #191919;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0vh 0vw;
}

.logo {
  width: 9vh;
}

#logo-reddit {
  height: 10vh;
  width: 13vw;
  margin-top: 0.8vh;
  margin-left: 2vw;
}

.login-register {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-evenly;
  width: 40vw;
}

.logout {
  display: block;
  align-self: center;
  width: 20vw;
}

header .logo img {
  max-height: 6vh;
}

.sub-home-link a {
  color: blue;
}

.search {
  align-self: center;
}

.search-container {
  padding: 1.2vh;
  border-color: #edeff1;
  border-style: solid;
  border-width: 0.1vw;
  background-color: #f6f7f8;
  width: 30vw;
  border-radius: 0.6vh;
}

.search-container:hover {
  background-color: white;
  border-color: #0f80d5;
}

.form-control {
  width: 32vw;
}

.post-container {
  width: 52%;
  margin-left: 12%;
  background-color: white;
  margin-bottom: 4vh;
  display: flex;
  padding-left: 0.2vw;
}

.upvote-downvote-box {
  margin: 1vh;
}

.media-content {
  object-fit: cover;
  max-width: 40vw;
}

.post-box {
  margin: 1vh;
  padding-left: 3vw;
}

body {
  background-color: #dae0e6;
}

.sub-filter {
  width: 52%;
  margin-left: 12%;
  background-color: white;
  flex-direction: row;
  display: flex;
  margin-bottom: 4vh;
  justify-content: space-between;
  height: 10vh;
}

.first-half {
  margin-left: 2vw;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  width: 50%;


}

.second-half {
  flex-direction: row;
  display: flex;
  align-items: center;
  margin-right: 2vw;
}

.element-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

textarea,
input {
  padding: 1.8vh;
  font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

.sub-home-author {
  color: rgb(120, 124, 126);
  font-size: 2.3vh;
  font-weight: 400;
}

.sub-home-heading {
  color: #1d4169;
  font-size: 3.2vh;

}

.sub-home-content {
  color: black;
  font-size: 2.5vh;

}

.post-only {
  display: flex;
  flex-direction: row;
}

.upvote-downvote-post {
  display: flex;
  flex-direction: column;
}

.post-detail-box {
  display: flex;
  flex-direction: column;
}


/*--------------------------------------------------------------
# DROPDOWN
--------------------------------------------------------------*/
.dropbtn {
  background-color: #FF4500;
  color: white;
  padding: 1.2vw;
  font-size: 1.3vw;
  border: none;
  cursor: pointer;
  height: 8vh;
}

.dropdown {
  position: relative;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 8vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 0.5vw 0.4vw;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/*--------------------------------------------------------------
# Post Detail Page
--------------------------------------------------------------*/

.overall-detailed-page {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin-left: 20vw;
}

.up-down-box {
  display: flex;
  flex-direction: column;
  margin: 1vw;
}

.post-detail-container {
  display: flex;
  flex-direction: row;
  width: 50vw;
  background-color: white;
}

.sub-user {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 80%;

}

.post-detail-author {
  margin-left: 2vw;
}

.post-detail-content {
  font-size: 95%;
}

.detailed-box {
  margin-left: 2vw;
}

.updown-comment-box {
  display: flex;
  flex-direction: row;
}

.comment-toggle-icon {
  margin-left: 1vw;
}

.comments-container {
  width: 48vw;
  margin-left: 20vw;
  margin-top: 7vh;
  background-color: white;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 1vw;
}

.total-comment-count {
  font-style: italic;
}

.comment-author {
  font-weight: 800;
}

@media screen and (max-device-width: 784px) {

  header {
    position: relative;
    background: white;
    width: 100vw;
    height: 8vh;
    font-size: 3vh;
    margin-left: -2vw;
  }



  .sub-filter {
    width: 100%;
    margin-left: 0%;
    background-color: white;
    flex-direction: row;
    display: flex;
    margin-bottom: 4vh;
    justify-content: space-between;
    height: 10vh;
  }



  .post-container {
    width: 100%;
    margin-left: 0vw;
    background-color: white;
    margin-bottom: 4vh;
    display: flex;
    justify-content: flex-start;
    padding-left: 0.2vw;
  }

  .post-box {
    margin: 1vh;
    padding-left: 3vw;
  }

  .media-content {
    object-fit: cover;
    max-width: 75vw;
  }


  .dropbtn {

    font-size: 3vw;

  }


  .comments-container {
    width: 93vw;
    margin-left: 0vw;
  }


  .overall-detailed-page {

    width: 100vw;
    margin-left: 0.2vw;
    margin-right: 0.2vw;
  }

  .post-detail-container {
    width: 95vw;
    height: max-content;
  }

  .up-down-box {
    display: flex;
    flex-direction: column;
    margin: 1vw;
    margin-top: 7vh;
  }

  .comment-create-box {
    display: flex;
    flex-direction: column;
  }
}