{% load static %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://use.fontawesome.com/f779a81219.js"></script>
    <script src="https://kit.fontawesome.com/0f4f75ce27.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css" media="screen">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>

<header>
    <div class="navbar">
        <div class="logo"><a href="{% url 'home' %}"><img id="logo-reddit" src="{% static 'images/logo.svg' %}"></a>
        </div>
        <div class="search">
            <form><input class="search-container" type="search" name="q" placeholder="&#xF002; &nbsp; Search Reddit"
                    value=""></form>
        </div>

        {% if user.is_authenticated %}

        <div class="dropdown" style="float:right;margin-right: 5vw;">
            <button class="dropbtn">u/{{user.username}}</button>
            <div class="dropdown-content">
                <a href="/r">Browse Subreddits</a>
                <a href="/create-sub">Create New Subreddit</a>
                <a href="/logout">Logout</a>
            </div>
        </div>

        {% else %}

        <div class="dropdown" style="float:right;margin-right: 5vw;">

            <button class="dropbtn">Login/Register</button>
            <div class="dropdown-content">
                <a href="/login">Login</a>
                <a href="/register">Register</a>
                <a href="/r">Browse Subreddits</a>
            </div>
        </div>
        {% endif %}
    </div>
</header>

<body>
    {% if messages %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    {% endif %}
    <br>
    {% block content %}
    {% endblock %}
</body>

</html>