{% extends "base.html" %}
{% load static %}
{% load staticfiles %}
{% block title %}
Reddit Home
{% endblock %}

{% block content %}
<script type="text/javascript" src="/static/js/social.js"></script>

<div class="sub-filter">
    <div class="first-half">
        <div class="element-filter">
            <i class="fab fa-hotjar"></i>
            <p>Hot</p>
        </div>

        <div class="element-filter">
            <i class="fas fa-certificate"></i>
            <p>New</p>
        </div>

        <div class="element-filter">
            <i class="fas fa-arrow-up"></i>
            <p>Top</p>
        </div>

        <div class="element-filter">
            <p>...</p>
        </div>
    </div>
    <div class="second-half">
        <i class="fas fa-th-large"></i>
        <i class="fas fa-chevron-down"></i>

    </div>
</div>

{% for post in posts %}

<div class="post-container">

    <div onclick="location.href='r/{{post.sub}}/{{post.id}}';" class="post-link">
        <div class="sub-home-author">
            <a style="text-decoration: none; white-space: nowrap;" href="{% url 'sub-details' post.sub %}">r/{{ post.sub }}</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Posted By u/{{ post.author }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ post.time }}
        </div>
        <div class="sub-home-heading">{{ post.title }}</div>
        <p class="sub-home-content">{{ post.content }}</p>


        {% if post.media == None or post.media == "None" or post.media == "" %}
        <div class="empty"></div>
        {% else %}

        {% if post.media_type == "image" %}


        <div><img class="media-content" alt="An image is supposed to be here" src="{{post.media}}"></div>
        {% elif post.media_type == "video" %}
        <div>
            <video class="media-content" controls>
                <source src="{{post.media}}">
            </video>
        </div>
        {% else %}

        <!-- Unsupported Filetype -->
        <div class="empty"></div>
        {% endif %}
        {% endif %}


    </div>
</div>
{% endfor %}


{% endblock %}