{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Login
{% endblock %}

{% block content %}

<h2>Login Form</h2>


<form method="post">
	{% csrf_token %}
	{{ form|crispy }}
	<button type="submit">Login</button>
</form>
Need An Account? <a href="{% url 'register' %}">Sign Up Now</a>
<br>

Forgot password? <a href="{% url 'reset_password' %}">Reset password</a>

{% endblock %}