{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Register
{% endblock %}

{% block content %}

<h2>Register Now:</h2>
<form method="post">
	{% csrf_token %}

	{{ form|crispy }}
	<button type="submit">
		Register
	</button>
</form>
Already have an account? <a href="{% url 'login' %}">Sign In</a>

{% endblock %}