{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Create Subreddit
{% endblock %}

{% block content %}
<form method="post">
	{% csrf_token %}
	{{ form|crispy }}

	<button type="submit">
		Create Subreddit
	</button>
</form>

{% endblock %}