{% extends "base.html" %}
{% load custom_tags %}
{% block title %}
Reddit Home
{% endblock %}

{% block content %}


<!-- Iterate over sub_list -->
{% for sub in object_list %}
<!-- Display Objects -->

<a class="sub-link" href="{{ sub.name }}"><strong>r/{{ sub.name }}</strong></a>
<em>
    <p>{{ sub.description }}</p>
</em>

<hr>
{% endfor %}

<!-- Display only in individual sub page -->
{% if request.get_full_path != '/r/' %}
<div class="sub-filter">
    <div class="first-half">
        <div class="element-filter">
            <i class="fab fa-hotjar"></i>
            <p>Hot</p>
        </div>

        <div class="element-filter">
            <i class="fas fa-certificate"></i>
            <p>New</p>
        </div>

        <div class="element-filter">
            <i class="fas fa-arrow-up"></i>
            <p>Top</p>
        </div>

        <div class="element-filter">
            <p>...</p>
        </div>
    </div>
    <div class="second-half">
        <i class="fas fa-th-large"></i>
        <i class="fas fa-chevron-down"></i>

    </div>
</div>
{% endif %}

{% for post in posts %}

<div class="post-container">

    <div class="upvote-downvote-box">

        <form method="POST" action="{% url 'post-like' sub post.id %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{request.path}}">
            <button type="submit">
                <i class="fas fa-angle-up"><span>{{ post.likes.all.count }}</span></i>
            </button>
        </form>
        {{post.karma}}
        <form method="POST" action="{% url 'post-dislike' sub post.id %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{request.path}}">
            <button type="submit">
                <i class="fas fa-angle-down"><span>{{ post.dislikes.all.count }}</span></i>
            </button>
        </form>
    </div>

    <div class="post-box">
        <a class="post-link" href="{{ post.id }}">

            <div class="sub-home-author">Posted By u/{{ post.author }}&nbsp;&nbsp;&nbsp; {{ post.time }}</div>
            <div class="sub-home-heading">{{ post.title }}</div>
            <p class="sub-home-content">{{ post.content }}</p>


            {% if post.media == None or post.media == "None" or post.media == "" %}
            <div class="empty"></div>
            {% else %}

            {% if post.media_type == "image" %}


            <div><img class="media-content" alt="An image is supposed to be here" src="{{post.media}}"></div>
            {% elif post.media_type == "video" %}
            <div>
                <video class="media-content" controls>
                    <source src="{{post.media}}">
                </video>
            </div>
            {% else %}

            <!-- Unsupported Filetype -->
            <div class="empty"></div>
            {% endif %}
            {% endif %}


        </a>
        <!-- Debugging
{{post.author}}
{{user.username}}
{{ post.author|get_type }}
{{ user|get_type }}
{{ user.username|get_type }}
-->

        {% if post.author == user.username %}
        <a href="{% url 'post-update' sub post.id %}"> Edit </a>

        <a href="{% url 'post-delete' sub post.id %}"> Delete </a>
        {% endif %}

    </div>
</div>

{% endfor %}
<br>



{% if user.is_authenticated and request.get_full_path != '/r/' %}
<a style="margin-left:30vw;" href="{{'new'}}"> Create New Post </a>
<br>

{% endif %}

{% endblock %}